.whatsapp {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    position: fixed;
    z-index: 1;
    padding-top: 3rem;
    width: 100%;

}

.iconWhatsapp {
    height: 3.5rem;
    width: 3.5rem;
    color:rgb(37,211,102);

}