.whatsapp {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

}

.linkWhatsapp {
    position: fixed;
    border-radius: 50px;
    z-index: 1;

}

.imgWhatsapp {
    border-radius: 50px;

}